.RelatedDeals_container {

    .heading{
        margin-top: 5rem;
        font-size: 28px;
    }

    .items{
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        
        grid-gap: 30px;


}

}

@media (max-width: 760px) {
    .RelatedDeals_container {

        .heading{
            font-size: 25px;
        }
    
       
    }
}