.list_container {
    width: 100%;
    height: 255px;
    border-radius: 12px;
    position: relative;

    // display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    grid-gap: 30px;
    gap: 2rem;
    color: black;

    align-items: center;
    padding: 1rem;


    .img_container {
        .best {
            display: flex;


            .trophy {
                background-color: #FF7724;
                margin-top: -60px;
                color: white;
                border-radius: 0 8px 8px 0;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;

                position: absolute;


            }

            .number {
                border: gray 2px solid;
                border-radius: 50%;
                background-color: white;
                margin-left: -40px;
                position: absolute;
                margin-left: -39px;
                padding: 12px 15px;
            }
        }
        .img{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            width: 50px;
            img{
            }
            
        }



        p {
            text-align: center;
        }

    }

    .container_2 {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p>span {
            font-weight: bold;
        }

        .p_2 {
            padding-left: 1rem;
        }

        .each_rating {
            background-color: #FFF4ED;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 12px;

            p {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    padding: 5px;
                    background-color: white;
                    border-radius: 4px;
                    color: #1B88F4;
                }
            }
        }

        .we_love_it {
            .we_love_it_list {
                padding: 10px;
                display: flex;
                flex-direction: column;

                gap: 5px;
                border-radius: 12px;

                p {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        padding: 5px;
                        background-color: #F3F9FF;
                        border-radius: 50%;
                        color: #1B88F4;
                    }
                }

            }
        }

    }

    .show_more {
        display: flex;
        align-items: center;
        color: blue;
    }

    .container_3 {

        div {
            background-color: #F3F9FF;
            padding: 0rem 2rem 1rem 2rem;
            border-radius: 0px 0px 12px 12px;

            h1 {
                text-align: center;
            }
        }

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        align-items: center;

        button {
            // margin-top: 15px;
            padding: 8px 4.2rem;
            border-radius: 12px;
            border: solid #1B88F4;
            background-color: #1B88F4;
            color: white;
            font-size: 16px;

        }
    }
}